*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(212, 201, 201, 0.945);
    display: flex;
    justify-content: center;
    
}

main{
    background-color: white;
    width: 93%;
    margin-top: 25px;
}

main h1{
    text-align: center;
    border-bottom: 1px solid  rgb(167, 165, 165);
}

main figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main figure p{
    text-align: center;
    font-size: 12px;
}

main figure img{
    width: 460px;
    height: 350px;
}

main figure figcaption{
    text-align: center;
    font-size: 12px;
}

main h2{
    font-size: 30px;
    padding-left: 25px;
    margin-top: 10px;
}

main p{
    text-align: center;
    padding: 10px;
}

main article{
    background-color: rgba(112, 112, 168, 0.748);
    font-size: 18px;
    font-family: 'Times New Roman', Times, sans-serif;
    color: white;
    padding: 10px;
    height: 75px;
    text-align: start;
    margin: 5px;
}

main dl{}

main dl dt{
    padding: 10px;
    font-weight: bold;
    font-style: italic;
}

main dl dd{
    padding-left: 25px;
    padding-right: 10px;
}

main dl dd ul{
    padding-left: 45px;
}

main .figura2{
    margin: 5px;
}



