*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: helvetica;
}

.cabecalho{
    height: 100px;
    background-color: rgb(47, 47, 158);
    position: relative;
}

.cabecalho img{
    width: 100px;
    height: 90px;
    margin-top: 5px;
}

.cabecalho .barra-nav{
    color: white;
    position: absolute;
    right: 10px;
    top: 25px;
}

.cabecalho .barra-nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-transform: uppercase;
}

.cabecalho .barra-nav ul li{
    padding: 10px;
}

.cabecalho .barra-nav ul .li-entrar{
    background-color: green;
    border-radius: 4px;
}

.section1{
    background-image: url('Midia/pexels-piccinng-3125171.jpg');
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1 h1{
    color: white;
}

.section1 p{
    color: rgb(192, 200, 222);
    font-size: 18px;
}

.section2{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.section2 ul li{
    width: 350px;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section2 ul li p{
    font-weight: normal;
}

.section2 ul li .i1{
    font-size: 3rem;
    color: rgb(122, 240, 122);
}

.section2 ul li .i2{
    font-size: 3rem;
    color: rgb(215, 39, 39);
}

.section2 ul li .i3{
    font-size: 3rem;
    color: rgb(222, 175, 36);
}

.section3{
    padding-bottom: 5rem;
    text-align: center;
}

.section3 h2{
    font-size: 3rem;
}

.section3 p{
    font-size: 20px;
}

.section3 .plano1{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.section3 .plano1 .plano{
    flex: 1;
    max-width: 275px;
    margin: 0px 20px;
}

.section3 .plano1 .plano ul{
    padding: 0px;
}

.section3 .plano1 .plano ul li{
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    background-color: #e3e9ea;
    color: #333;
}

.section3 .plano1 .plano .preco{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc762;
    color: white;
    text-align: center;
}
